@model MyCollection.Web.Models.PropertyCollectorViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProperty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CollectorId" />

            <div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="form-control"></select>
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a asp-action="Details" asp-route-id="@Model.CollectorId" class="btn btn-outline-dark">Back to Collector</a>
            </div>
        </form>
    </div>
</div>
